<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="https://assets.pokemon.com/static2/_ui/img/favicon.ico" />
    <title>Pokédex - Detalhes</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <section id="detalhes">
        <h1 id="nome_detalhes"><%= pokemon.nome %></h1>
        <img id="img_detalhes" src="<%=pokemon.imagem%>" alt="" />
        <table>
          <thead>
            <th colspan="2">Detalhes</th>
          </thead>
          <tbody>
            <tr>
              <td>Descrição</td>
              <td><%= pokemon.descricao %></td>
            </tr>
            <tr>
              <td>Tipo</td>
              <td><%= pokemon.tipo %></td>
            </tr>
            <tr>
              <td>Altura</td>
              <td><%= pokemon.altura %>cm</td>
            </tr>
            <tr>
              <td>Peso</td>
              <td><%= pokemon.peso %>g</td>
            </tr>
            <tr>
              <td>Categoria</td>
              <td><%= pokemon.categoria %></td>
            </tr>
            <tr>
              <td>Habilidade</td>
              <td><%= pokemon.habilidade %></td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
