<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <section id>
        <% pokedex.forEach(pokemon => { %>
        <div class="card">
          <%= pokemon.nome %>
          <div class="card_Img">
            <img src="<%= pokemon.imagem %>" alt="" />
          </div>
          <%= pokemon.tipo %>
        </div>

        <% }) %>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
