<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <section id="cards">
        <% pokedex.forEach(element=> { %>
        <a href="/detalhes/<%= element.id %> ">
          <article id="card">
            <div class="text_card"><%= element.nome %></div>
            <div id="card_img">
              <img id="img_pokemon" src="<%= element.imagem %>" alt="" />
            </div>
            <div class="text_card"><%= element.tipo %></div>
          </article>
        </a>
        <% }) %>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
